// button
.primary-btn {
    padding: 8px 18px;
    border-radius: 10px;
    background-color: cadetblue;
}
.secondary-btn {
    padding: 8px 18px;
    border-radius: 10px;
    background-color: white;
}

// input

.primary-input {
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    outline: none;
}
